// Primary colors
$primary-color: #27374D;
$secondary-color: #526D82; 
$accent-color: #9DB2BF;

// Background colors
$body-bg: #DDE6ED;
$container-bg: #ffffff;

// Text colors
$text-color: #333;
$heading-color: #444;

// Borders
$border-color: #ccc;
